
/* root of irc chat stuff */
#irc-root {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}
/*############################################*/
/* connection part */
/*############################################*/
.irc-connection-dialog {
    width: 450px;
    height: 120px;
    
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    
    border: 1px solid #555;
}

.irc-connection-dialog.options {
    height: 190px;
}

.irc-connection-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    
    text-align: center;
    
    background-color: #222;
    
    border-bottom: 1px solid #555;
}

.irc-connection-body {
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 30px;
    
    padding: 12px;
    padding-left: 50px;
}

.irc-connection-footer {
    position: absolute;
    
    height: 30px;
    line-height: 30px;
    
    padding-right: 12px;
    padding-left: 12px;
    
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    background-color: #222;
}



/*############################################*/
/* header part */
/*############################################*/
.irc-title {
    box-sizing: border-box;
    width: 100%;
}
.irc-tab-container {
/* padding-left: 8pt;*/
    overflow-x: auto;
}

.irc-tab-close {
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    
    background: url(exit.png);
    background-size: 7px 7px;
    margin: 1px;
    cursor: pointer;
}
.irc-tab-close:hover {
    margin: 0px;
    border: 1px solid #fff;
}

.irc-tab-unread {
    color: #ffa500;
}

.irc.text-button.irc-user-tab {
    float: right;
}



.irc.text-button {
    -webkit-user-select: none; /* Chrome/Safari */
}

.irc.text-button-selected {
  color: #888888;
  cursor: default;
}
.irc.text-button-selected:hover {
  color: #888888;
}

/*############################################*/
/* body (where the messages go)*/
/*############################################*/

.irc-header {
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    
    height: 30px;
    
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #555;
}

.irc-body {
    position: absolute;
    
    overflow-y: auto;
    overflow-x: hidden;
    
    top: 30px;
    bottom: 24px;
    
    left: 0;
    right: 0;
}

.irc-name-list {
    background-color: rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    border-left: 1px dashed #555;    
    position: absolute;
    right: 0px;
    left: auto;
    
    padding-left: 10px;
    padding-right: 12px;
}


/*##### adjust scollwheel style ########################*/
.irc-body::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background: #333;
}

.irc-body::-webkit-scrollbar-thumb {
    background: #008cff;
    -webkit-border-radius: 1ex;
/*    -webkit-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75);*/
}

.irc-body::-webkit-scrollbar-corner {
    background: #333;
}


/*############################################*/
/* message classes */
/*############################################*/
.irc-message-container {
    color: white;
    font-size: 10pt;
    font-family: "Courier New", Courier, monospace;
    
    width: 100%;
}
.irc-message-line {
    width: 100%;
    color: white;
}

.irc-message-line pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    display: inline;
    margin: 0;
}


.irc-message-line:nth-of-type(odd) {
    background-color: rgba(255,255,255, 0.05);
}
.irc-message-from::before {
    content: "<";
    color: white;
}
.irc-message-from::after {
    content: ">";
    color: white;
}

.irc-notice-from::before {
    content: "-";
    color: white;
}
.irc-notice-from::after {
    content: "-";
    color: white;
}

.irc-message-from {
}

.irc-message-text {
    width: 100%;
    box-sizing: border-box;
    
    padding-left: 2px;
    padding-right: 2px;
}
.irc-message-time {
    float: right;
    color: #888;
}

.irc-message-rule {
    border: none;
    margin: 0;
    border-bottom: 1px dashed #ffa500;
}

/*############################################*/
/* footer */
/*############################################*/

.irc-footer {
    position: absolute;
    
    height: 24px;
    bottom: 0;
    
    left: 0;
    right: 0;
}

.irc-input {
    font-size: 10pt;
    color: white;
    
    padding: 4px;
    
    background-color: #2d2d2d;
    
    -webkit-box-sizing: border-box;
    border: 1px solid #555;
    
    font-family: "Courier New", Courier, monospace;

/* prevents default outline */
    outline: none;
    
    width: 100%;
    height: 100%;
}

.irc-input:focus {
    border: 1px solid #008cff;
}

.irc-input-field {
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    color: white;
    background-color: #2d2d2d;
    
    -webkit-box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

.irc-input-field:focus {
    border: 1px solid #008cff;
}

.irc-input-label {
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
/*    color: white;*/
}
